body {
    background-color: rgb(28, 28, 28);
}

.FormAndResultContainer {
    display: flex;
    min-height: 98vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image_selector {
    visibility: hidden;
}

#image_selector_alt{
    border-radius: 50px;
    transition: background-color 200ms;
    transition: color .5s;
    transition: border .5s;
    background-color: rgb(28, 28, 28);
    border: 2px solid rgb(178, 178, 178);
    color: rgb(178, 178, 178);
    box-shadow: none;
    height: 80px;
    width: 200px;
    text-align: center;
    line-height: 80px;
}

#image_selector_alt:hover {
    background-color: rgb(178, 178, 178);
    color: rgb(28, 28, 28);
    border: 2px solid rgb(28, 28, 28);
    cursor: grab;
}

body {
    font-family: "Roboto", sans-serif;
}

#selected_image {
    width: 200px;
    height: auto;
    border-radius: 20px;
    margin-left: 100px;
}

.Result {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
}

.RunnersUp {
    padding-top: 5px;
}

#prediction, #runners_up {
    color: rgb(178, 178, 178);
    text-align: center;
}

#soundIcon {
    filter: invert();
    width: 20px;
    height: 20px;
    opacity: 60%;
}

#soundIcon:hover {
    cursor: grab;
}

#predictionText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.percentage {
    color: rgb(101, 101, 101);
}