<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COSMOS '25</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="FormAndResultContainer">
        <form method="POST" enctype="multipart/form-data" id="form">
            <input type="file" name="image" accept="image/*" id="image_selector">
            <span id="image_selector_alt">Select File</span>
            <button type="submit" id="run_model_button">Run Model</button>
        </form>

        <div class="Result">
            {% if result %}
                <h3 id="prediction">Predicted Letter: <br/> {{ result["prediction"] }}</h3>
                <img src="{{ result['imageSrc'] }}" alt="Selected Image" id="selected_image">
            {% endif %}
        </div>
    </div>
</body>
</html>