<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASL Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="FormAndResultContainer">
        <form method="POST" enctype="multipart/form-data" id="form">
            <input type="file" name="image" accept="image/*" id="image_selector">
            <span id="image_selector_alt">Select File</span>
            <button type="submit" id="run_model_button">Run Model</button>
        </form>

        {% if result %}
            <div class="Result">
                <div id="predictionText">
                    <h3 id="prediction">Predicted Letter: <br/> {{ result["1"][0] }} <span class="percentage">({{ result["1"][1] }}%)</span></h3>
                    <!-- <img src="{{ url_for('static', filename='images/SoundIcon.png' )}}" alt="Sound Icon" id="soundIcon"> -->
                </div>
                <img src="{{ result['imageSrc'] }}" alt="Selected Image" id="selected_image">
            </div>
            <div class="RunnersUp">
                <h3 id="runners_up">Runners Up:<br/>
                    {{ result["2"][0] }} <span class="percentage">({{ result["2"][1] }}%)</span>,
                    {{ result["3"][0] }} <span class="percentage">({{ result["3"][1] }}%)</span>,
                    {{ result["4"][0] }} <span class="percentage">({{ result["4"][1] }}%)</span>,
                    and {{ result["5"][0] }} <span class="percentage">({{ result["5"][1] }}%)</span>.
                </h3>
            </div>
        {% endif %}
    </div>
</body>
</html>